{#
/**
* @file
* Default theme implementation to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
*   - attributes: The row's HTML attributes.
*   - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
*   used on rows.
*
* @see template_preprocess_views_view_unformatted()
*
* @ingroup themeable
*/
#}
<div class="swiper-full-screen swiper-container h-100 w-100 black-move">

  {% for row in items %}
    <div class="swiper-wrapper">
      {% for column in row.content %}
        <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn">
          <!--start slider-->
          {{ row.content }}
          <!--end slider-->
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-square swiper-full-screen-pagination"></div>
  <div class="swiper-button-next swiper-button-black-highlight d-none"></div>
  <div class="swiper-button-prev swiper-button-black-highlight d-none"></div>
</div>
