  <div class="featured-icon-horizontal-01 clearfix">
    <div class="icon-font">
      <i class="elegent-icon-gift_alt text-secondary"></i>
    </div>
    <div class="content">
      <h6>{{ fields.title.content }}</h6>
      <p class="text-muted">{{ fields.field_feel_good_details.content }}</p>
    </div>
  </div>

