<!-- start progress bar item -->
<div class="skillbar margin-45px-bottom"
     data-percent="{% spaceless %}{{ fields.field_skill_percentage.content }}%{% endspaceless %}">
  <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">{{ fields.title.content }}</span>
  <p class="skillbar-bar"></p>
  <span class="skill-bar-percent text-small"></span>
</div>
<!-- end progress bar item -->


