

  <!-- start page title section -->
  <section class="wow fadeIn bg-extra-dark-gray padding-35px-tb page-title-small top-space">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-md-6 text-center text-md-left">
          <!-- start page title -->
          <h1 class="alt-font text-white-2 font-weight-600 mb-0 text-uppercase">{{ node.title.value }}</h1>
          <!-- end page title -->
        </div>
        <div
          class="col-xl-4 col-md-6 breadcrumb alt-font text-small justify-content-center justify-content-md-end sm-margin-10px-top">

        </div>
      </div>
    </div>
  </section>
  <!-- end page title section -->
  <section class="wow fadeIn">
    <div class="container">
      {{ content.field_legal_main_content }}
    </div>
  </section>
</div>
