<section class="wow fadeIn">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 col-lg-8 col-md-10 text-center">

        <h1>heyho</h1>

        <form id="contact-form" action="javascript:void(0)" method="post"
              class="white-popup-block mfp-hide col-lg-3 p-0 mx-auto">
          <div class="padding-fifteen-all bg-white border-radius-6 lg-padding-seven-all">
            <div class="text-extra-dark-gray alt-font text-large font-weight-600 margin-30px-bottom">Looking for a
              excellent
              business idea?
            </div>
            <div>
              <div id="success-contact-form" class="mx-0"></div>
              <input type="text" name="name" id="name" placeholder="Name*" class="input-bg">
              <input type="text" name="email" id="email" placeholder="E-mail*" class="input-bg">
              <input type="text" name="subject" id="subject" placeholder="Subject" class="input-bg">
              <textarea name="comment" id="comment" placeholder="Your Message" class="input-bg"></textarea>
              <button id="contact-us-button" type="submit" class="btn btn-small border-radius-4 btn-black">send message
              </button>
            </div>
          </div>
        </form>
        <!-- end form -->
      </div>
    </div>
  </div>
</section>
