<div class="col-12 col-md-6 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">

  <div class="blog-post blog-post-style1 text-md-left text-center">
    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
      <a href="#">
        <img src="{{ fields.field_event_image.content }}" alt="">
      </a>
    </div>
    <div class="post-details">
                                    <span
                                      class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">{{ fields.field_event_date.content }} |  <a
                                        href="#"
                                        class="text-medium-gray">{{ fields.field_event_type.content }}</a></span>
      <p class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">{{ fields.body.content }}</p>
    </div>
  </div>
</div>
