
<figure>
  <div class="team-image sm-width-100">
  <img src="{{ fields.field_member_image.content }}" alt="">
<div class="overlay-content text-center d-flex align-items-center justify-content-center">
  <div class="icon-social-small">
    <p class="text-white-2">{{ fields.field_member_quote.content }}</p>
  </div>
</div>
<div class="team-overlay bg-deep-pink opacity8"></div>
</div>
<figcaption>
  <div class="team-member-position text-uppercase text-extra-dark-gray text-lg-left text-center margin-20px-top sm-margin-15px-top">
    <div class="text-small line-height-22 font-weight-500">{{ fields.title.content }}</div>
    <div class="text-extra-small text-medium-gray">{{ fields.field_team_role.content }}</div>
  </div>
</figcaption>
</figure>
